body{margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
font-family: Arial, sans-serif;}
body.dark{
background-image: url(./assets/dark.png.webp);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color: white;}

body.light{background: url(./assets/light.png.jpg) no-repeat center/cover;
color: white;}

.cartao{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;;
}

.foto{
     height: 150px;
    width: 150px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 20px
;}
h1{font-size: 24px;
    color: #333;}
 h2{font-size: 18px;
    color: #777;
    margin-bottom: 15px;
 }

.bio{font-size: 14px;
    color: #555;}

.redes-sociais{
    margin-top: 20px;
}

.redes-sociais a{margin: 0 10px;
font-size: 24px;
color: #333;
transition: 0.3s ease;}

.redes-sociais a:hover{
    color: #6c63ff;
}

.modo-btn{
position: absolute;
top: 20px;
right: 20px;
font-size: 24px;
background: transparent;
border: none;
cursor: pointer;
z-index: 2;
transition: transform 0.2s;}

.modo-btn:hover {
    transform: scale(1.2);
}

@media (max-width: 480px) {
  .cartao {
    width: 90%;
    padding: 20px;
  }

  .foto {
    width: 120px;
    height: 120px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  .bio {
    font-size: 13px;
  }

  .modo-btn {
    font-size: 20px;
    top: 10px;
    right: 10px;
  }

  .redes-sociais a {
    font-size: 20px;
    margin: 0 8px;
}
}